* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  line-height: 1.2em;
  color: #2d3c49;
}

h1, h2, h3, h4, hr, ul {
  margin: 0;
  padding: 0;
}

/**** HEADER ****/
header {
  display: inline-flex;
  position: fixed;
  top: 0;
  min-height: 60px;
  height: auto;
  width: 100%;
  background-color: white;
  z-index: 1;
}

.logo {
  /* max-height: 32px; */
  /* margin: 0 0.5em; */
}

/* Navigation */
nav {
  display: flex;
  align-items: center;
}

nav li {
  color: darkslategray;
}

nav a {
 text-decoration: none;
 padding: 1em;
 justify-content: center;
}
/* End Navigation */

#main-header-title  {
  width: 50%;
  padding: .5em;
}

.title {
  font-size: 2.5vw;
  font-weight: 500;
  text-transform: UPPERCASE;
  color: slategray;
}

.sub-title {
  padding-top: .75em;
  font-weight: 800;
  text-transform: UPPERCASE;
  color: slategray;
}

hr {
  clear: both;
}

main  {
  position: relative;
  top: 80px;
  /* height: auto; */
}

/* Main image */
.hero {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
}

.hero-img {
  width: 100%;
  height: 100vh;
}

.after-hero {
  display: none;
}

h2 {
  margin: .5em 0 0.50em 0;
  font-weight: 300;
}

.desc {
  /* width: 80%; */
  margin: 0;
  /* padding: .5em 0; */
  padding: 1.5em;

}

/* Featured Work */
#featured h2 {
  /* margin: 0 50px; */
  padding-left: 1em;
  width: 80%;
}

#work {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  /* margin: 0 auto; */
  height: auto;
  padding: 1em 0;
}

.project  {
  max-width: 300px;
  width: 100%;
  max-height: 300px;
  height: 100%;
  margin-bottom: 10%;
}

.project-img {
  width: 300px;
  height: 300px;
  object-fit: cover;
  border: solid slategray 1px;
}

.project-title {
  /* display: block; */
  font-size: 1em;
  font-weight: 200;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.75em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
  color: slategray;
  }

a:visited {
  color: darkslategray;
}

#about {
  display: flex;
  background-color: gainsboro;
  padding: 2em 0;
  height: 300px;
}

#about h2 {
  display: flex;
  justify-content: center;
  /* width: 50%; */
  margin: 0 0 1em 0;
}

#about img {
  display: flex;
  /* justify-content: center; */
  margin: 0 auto;
  height: 150px;
  width: 250px;
  background-color: turquoise;
}

footer {
  background-color: darkslategray;
  color: white;
  text-align: center;
  border-top: 1px solid slategray;
  padding: 0.25em;
  width: 100%;
}
