/*  */
@media screen and (min-width: 400px) {
  body {
    width: 100%;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    margin: 1em 0 0 0;
  }

  .logo {
    max-height: 48px;
    margin: 0 0.5em;
  }

  #header-title {
    right: 8px;
  }

  nav a {
    padding: 1em;
  }

  .title {
    font-size: 1.75em;
  }

  .hero-img {
    max-width: 520px;
    width: 100%;
  }

  .projects img {
    display: block;
    max-width: 520px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* Minor Breakpoint? */
@media screen and (min-width: 521px) {
  .title {
    font-size: 2em;
    color: #fff;
  }

  .sub-title {
    margin-top: 0.5em;
    color: #fff;

  }

  .hero-img {
    max-width: 100%;
  }
}

@media screen and (min-width: 700px) {
  .logo {
    max-height: 62px;
    margin: 0 0.5em;
  }

  nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    position: absolute;
    left: 30px;
  }

  nav li {
    display: inline-block;
    color: #2d3c49;
  }

   nav a {
     padding: 1em;
   }

  #header-title {
    position: relative;
    top: 0.5em;
    float: right;
    text-align: right;
    text-transform: UPPERCASE;
  }

  .title {
    color: slategray;
  }

  .sub-title {
    color: slategray;
  }

  hr {
    clear: both;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
    color: slategray;
  }

  .hero-img {
    max-width: 100%;
  }

  .projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* justify-content: space-between; */
  }

  .project img {
    /* max-width: 316px; */
    width: 100%;
    max-height: 300px;
    border: solid 1px;
  }

  .project-title {
    display: block;
    line-height: 1.25em;
    font-size: 1.25em;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
    margin-top: 1em;
    margin-bottom: 2em;
    color: slategray;
  }

}

@media screen and (min-width: 950px) {
  body  {
    width: 950px;
    margin-top: 2em;
    margin-right: auto;
    margin-left: auto;
  }

  .header {
    max-height: 72px;
  }

  .logo {
    max-height: 72px;
    margin: 0 0.5em;
  }

  nav {
    top: 1.5em;
    left: 150px;
    font-size: 1.25em;
  }

  #header-title {
    float: right;
    position: static;
    text-align: right;
    text-transform: UPPERCASE;
    color: #2d3c49;
  }

  .title {
    font-size: 2.25em;
    font-weight: 300;
  }

  .sub-title {
    font-weight: 400;
  }

  hr {
    clear: both;
    border-style: solid;
    border-width: 2px;
    margin-top: 20px;
    margin-bottom: 30px;
  }

  .hero-img {
    max-width: 100%;
  }

  .projects img {
    max-width: 310px;
    width: 100%;
  }
  .project-title {
    font-size: 1.25em;
  }
}
